
header {
    width:auto;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 1), rgb(60, 2, 254));
    /* opacity: 80%; */
    overflow: auto;
};

header a {
    text-decoration: none;
   padding: 2px, 2px, 2px, 2px;
   display: inline-block;
   border-style: inset;  

}

nav li {
    float:left;
    overflow:hidden;
    text-align: center;
    padding: 14px 16px;
    font-size: medium;
}
li a:visited {
color:rgb(199, 74, 240)
}

li a:hover {
    color: cyan
}
/* a:hover {
    
} */

li a {
    list-style-type: none;
    color:azure
}


.nasa {
    width: 100vw;
    height:100vh;
}
iframe {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
}
 .blink {
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 900px;
    top: 15px;
}

input:invalid {
    border: 2px solid red;
};

input:valid {
    border: 2px solid black
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px, solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}